.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #EB232A;
  box-shadow: inset 1px 1px 1px 1px rgba(24, 70, 158, .5);
}

.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: #18469E;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
