<section class="">
  <!--  <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">-->
  <!--    <div id="rev_slider_251_115" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">-->
  <!--      <ul>-->
  <!--        &lt;!&ndash; SLIDE 1 &ndash;&gt;-->
  <!--        <li *ngFor="let x of headerSection?.sectionMedia; let i = index" [attr.data-index]="'rs-0' + i"-->
  <!--            [attr.data-transition]="'fade'" [attr.data-slotamount]="'default'" [attr.data-easein]="'Power3.easeInOut'"-->
  <!--            [attr.data-easeout]="'Power3.easeInOut'" [attr.data-masterspeed]="2000" [attr.data-fsmasterspeed]="1500" class="rev_gradient">-->

  <!--          &lt;!&ndash; MAIN IMAGE &ndash;&gt;-->
  <!--          <img [src]="imgApiPath + x.path" alt="" [attr.data-bgposition]="'center center'" [attr.data-bgfit]="'cover'"-->
  <!--               [attr.data-bgrepeat]="'no-repeat'" class="rev-slidebg" [attr.data-bgparallax]="10" [attr.data-no-retina]>-->
  <!--          &lt;!&ndash; LAYER NR. 1 &ndash;&gt;-->
  <!--          &lt;!&ndash; <div  class="tp-caption tp-resizeme" data-x="['center','center','center','center']"-->
  <!--               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"-->
  <!--               data-voffset="['-140','-140','-140','-140']" data-whitespace="nowrap" data-responsive_offset="on"-->
  <!--               data-width="['none','none','none','none']" data-type="text"-->
  <!--               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"-->
  <!--               data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"-->
  <!--               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000"-->
  <!--               data-splitin="none" data-splitout="none">-->
  <!--            <h2 style="line-height: 54px; font-weight: 100; font-size: 50px; color: #ffffff;">Make </h2>-->
  <!--          </div>-->
  <!--          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"-->
  <!--               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"-->
  <!--               data-voffset="['-70','-70','-70','-70']" data-whitespace="nowrap" data-responsive_offset="on"-->
  <!--               data-width="['none','none','none','none']" data-type="text"-->
  <!--               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"-->
  <!--               data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"-->
  <!--               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"-->
  <!--               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"-->
  <!--               data-splitout="none">-->
  <!--            <h2 style="line-height: 54px; font-weight: 700; font-size: 50px; color: #ffffff;">Yourself </h2>-->
  <!--          </div>-->
  <!--          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"-->
  <!--               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"-->
  <!--               data-voffset="['0','0','0','0']" data-whitespace="nowrap" data-responsive_offset="on"-->
  <!--               data-width="['none','none','none','none']" data-type="text"-->
  <!--               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"-->
  <!--               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"-->
  <!--               data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1000"-->
  <!--               data-splitin="none" data-splitout="none">-->
  <!--            <h2 style="line-height: 54px; font-weight: 400; font-size: 50px; color: #ffffff;">Safe</h2>-->
  <!--          </div> &ndash;&gt;-->
  <!--        </li>-->

  <!--&lt;!&ndash;        &lt;!&ndash; SLIDE 2  &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;        <li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut"&ndash;&gt;-->
  <!--&lt;!&ndash;            data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500">&ndash;&gt;-->

  <!--&lt;!&ndash;          &lt;!&ndash; MAIN IMAGE &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;          <img src="assets/images/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>&ndash;&gt;-->
  <!--&lt;!&ndash;          &lt;!&ndash; LAYER NR. 1 &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;          &lt;!&ndash; <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-voffset="['-140','-140','-140','-140']" data-whitespace="nowrap" data-responsive_offset="on"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-width="['none','none','none','none']" data-type="text"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-splitin="none" data-splitout="none">&ndash;&gt;-->
  <!--&lt;!&ndash;            <h2 style="line-height: 54px; font-weight: 100; font-size: 50px; color: #ffffff;">Make </h2>&ndash;&gt;-->
  <!--&lt;!&ndash;          </div>&ndash;&gt;-->
  <!--&lt;!&ndash;          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-voffset="['-70','-70','-70','-70']" data-whitespace="nowrap" data-responsive_offset="on"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-width="['none','none','none','none']" data-type="text"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-splitout="none">&ndash;&gt;-->
  <!--&lt;!&ndash;            <h2 style="line-height: 54px; font-weight: 700; font-size: 50px; color: #ffffff;">Youeself </h2>&ndash;&gt;-->
  <!--&lt;!&ndash;          </div>&ndash;&gt;-->
  <!--&lt;!&ndash;          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-voffset="['0','0','0','0']" data-whitespace="nowrap" data-responsive_offset="on"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-width="['none','none','none','none']" data-type="text"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1000"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-splitin="none" data-splitout="none">&ndash;&gt;-->
  <!--&lt;!&ndash;            <h2 style="line-height: 54px; font-weight: 400; font-size: 50px; color: #ffffff;">Safe</h2>&ndash;&gt;-->
  <!--&lt;!&ndash;          </div>&ndash;&gt;-->
  <!--&lt;!&ndash;          <div class="tp-caption tp-resizeme whitecolor" data-x="['center','center','center','center']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-voffset="['70','70','70','70']" data-whitespace="nowrap" data-responsive_offset="on"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-width="['none','none','none','none']" data-type="text"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-textalign="['center','center','center','center']" data-fontsize="['24','24','20','20']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_idle="o:1;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1500" data-splitin="none"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-splitout="none">&ndash;&gt;-->
  <!--&lt;!&ndash;            <p style="line-height: 36px; font-weight: 400; font-size: 30px; color: #ffffff;">Up to <span&ndash;&gt;-->
  <!--&lt;!&ndash;              class="theme-color">25% Off</span></p>&ndash;&gt;-->
  <!--&lt;!&ndash;          </div>&ndash;&gt;-->
  <!--&lt;!&ndash;          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-voffset="['160','160','160','160']" data-width="200" data-height="none" data-whitespace="normal"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-type="button" data-actions='' data-responsive_offset="on"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-textAlign="['center','center','center','center']" data-margintop="[0,0,0,0]"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"&ndash;&gt;-->
  <!--&lt;!&ndash;               data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'&ndash;&gt;-->
  <!--&lt;!&ndash;               style=" box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">&ndash;&gt;-->
  <!--&lt;!&ndash;            <a routerLink="/products" class="cs-button">Shop Now</a>&ndash;&gt;-->
  <!--&lt;!&ndash;          </div> &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;        </li>&ndash;&gt;-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->

  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let x of headerSection?.sectionMedia; let i = index" [ngClass]="i==0 ?'active':'inactive' "
           class="carousel-item">
        <img [src]="imgApiPath + x.path" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</section>

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="position-relative img-lamp-out">
          <div class="img-lamp"><img src="assets/images/about-1.png" class="img-fluid" alt=""></div>
        </div>
      </div>
      <div class="col-md-4 col-12 sm-mb-50">
        <div class="section-heading mb-30 mt-20">
          <h6 class="sub-heading">{{collectionVideoSection?.subTitle}}</h6>
          <h1 class="heading">{{collectionVideoSection?.title}}</h1>
        </div>
        <p>{{collectionVideoSection?.details}}</p>
        <a class="cs-button icon-color mt-30" data-toggle="modal" data-target="#exampleModalCenter"><i
          class="fa fa-play"></i> Collection Video</a>
      </div>
      <div class="col-md-8 col-12">
        <img [src]="imgApiPath + collectionVideoSection?.sectionMedia[1]?.path" class="img-fluid"
             alt="{{collectionVideoSection?.title}}">
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Collection Video</h5>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    [src]=" 'https://www.youtube.com/embed/' +  getYouTubeId(collectionVideoSection?.sectionMedia[0].path)  | safe"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-4 col-12">
        <a routerLink="/products/moneyCounting" class="promo-bx-link">
          <div class="promo-bx bg-overlay-black-20">
            <img [src]="imgApiPath + trendCollectionSection1?.sectionMedia[0].path"
                 style="display: block;margin-left: auto;margin-right: auto;" alt="">
            <p class="cross">{{trendCollectionSection1?.subTitle}}</p>
            <div class="promo-tx">
              <h2>{{trendCollectionSection1?.title}}</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a routerLink="//products/safes" class="promo-bx-link">
          <div class="promo-bx bg-overlay-black-20">
            <img [src]="imgApiPath + trendCollectionSection2?.sectionMedia[0].path"
                 style="display: block;margin-left: auto;margin-right: auto;" alt="">
            <p class="cross">{{trendCollectionSection2?.subTitle}}</p>
            <div class="promo-tx">
              <h2>{{trendCollectionSection2?.title}}</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a routerLink="/products/furniture" class="promo-bx-link">
          <div class="promo-bx bg-overlay-black-20">
            <img [src]="imgApiPath + trendCollectionSection3?.sectionMedia[0].path"
                 style="display: block;margin-left: auto;margin-right: auto;" alt="">
            <p class="cross">{{trendCollectionSection3?.subTitle}}</p>
            <div class="promo-tx">
              <h2>{{trendCollectionSection3?.title}}</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 col-12">
        <img [src]="imgApiPath + catalogueSection?.sectionMedia[0].path" class="img-fluid"
             alt="{{catalogueSection?.title}}">
      </div>
      <div class="col-md-4 col-12 sm-mt-50">
        <div class="section-heading mb-30">
          <h6 class="sub-heading">{{catalogueSection?.subTitle}}</h6>
          <h1 class="heading">{{catalogueSection?.title}}</h1>
        </div>
        <p>{{catalogueSection?.details}}</p>
        <a class="cs-button mt-30" routerLink="/catalog">{{'View' | translate}} &nbsp; <i
          class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-100 sm-pb-50 sm-pt-50 bg-light shop-grid trend-pro">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="section-heading mb-30 mt-100 sm-mt-0">
          <h6 class="sub-heading">{{'Lotfy Group' | translate}}</h6>
          <h1 class="heading">{{'Trending' | translate}} <br>{{'Items' | translate}}</h1>
        </div>
        <p>Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. </p>
      </div>
      <div class="col-md-9 col-12">
        <div class="owl-carousel owl-theme" data-nav-dots="false" data-nav-arrow="true" data-items="3" data-md-items="3"
             data-sm-items="2" data-xs-items="1" data-xx-items="1">

          <div class="item">
            <app-card [image]="'assets/images/Products/Safes3/safes/safes/Home safe/Digital/EK 2/img (1).jpeg'"
                      [collectionName]="''" [name]="''"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes3/safes/safes/Home safe/Digital/EK 2/img (5).jpeg'"
                      [collectionName]="''" [name]="''"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Counting Machine/lg830/1.jpg'"
                      [collectionName]="''" [name]="''"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Counting Machine/lg810/1.jpg'"
                      [collectionName]="''" [name]="''"></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-0 pt-0 sm-pt-50">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-5 col-12">
        <div class="row">
          <div class="col-md-5 col-12"></div>
          <div class="col-md-7 col-12 sm-mb-50">
            <div class="section-heading mb-30">
              <h6 class="sub-heading">{{plannerSection?.subTitle}}</h6>
              <h1 class="heading">{{plannerSection?.title}}</h1>
            </div>
            <p>{{plannerSection?.details}}</p>
            <a class="cs-button mt-30" routerLink="/products">
              {{'Start Planning' | translate}} &nbsp;
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-12">
        <img [src]="imgApiPath + plannerSection?.sectionMedia[0].path" class="img-fluid"
             alt="{{plannerSection?.title}}">
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-100 sm-pb-50 sm-pt-50 bg-light shop-grid trend-pro">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 col-12">
        <div class="row no-gutter">
          <div class="col-6" *ngFor="let facebookDetails of faceBookSection?.sectionMedia">
            <a href="{{facebookDetails.routePath}}" target="_blank" class="insta-img">
              <img [src]="imgApiPath + facebookDetails.path" class="img-fluid"
                   alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-12 d-md-block d-none">
      </div>
      <div class="col-md-4 col-12 sm-mt-50">
        <div class="section-heading mb-30">
          <h6 class="sub-heading fs-24"><i class="fa fa-facebook-square"></i></h6>
          <h1 class="heading">{{faceBookSection?.title}}</h1>
        </div>
        <h4>{{faceBookSection?.subTitle}}</h4>
        <p>{{faceBookSection?.details}}</p>
        <a class="cs-button mt-30" href="https://www.facebook.com/LotfyGroup/" target="_blank">Our Facebook &nbsp; <i
          class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section section-ptb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-12">
        <div class="section-heading">
          <h1 class="heading mb-30">{{contactUsSection.title}}</h1>
          <p class="mb-20 ">{{contactUsSection.details}}</p>
        </div>
        <h4 class="py-2"><i class="ti-mobile theme-color"></i>&nbsp; {{'+2 012 - 760 - 61063' | translate}}</h4>
        <h4 class="py-2"><i class="fa fa-weixin theme-color"></i>&nbsp; {{'+2 0128 - 706 - 0298' | translate}}</h4>
        <h4 class="py-2"><i class="ti-email theme-color"></i>&nbsp; {{'info@lotfygroup.com' | translate}}</h4>
        <h4 class="py-2"><i class="ti-email theme-color"></i>&nbsp; {{'lotfygroup@yahoo.com' | translate}}</h4>
        <h4 class="py-2"><i
          class="ti-map-alt theme-color"></i>&nbsp; {{'5 Taha Hussein, New Nuzha , Cairo Governorate' | translate}}</h4>
        <div class="social-icons color clearfix sm-mb-30">
          <ul>
            <li class="social-facebook"><a href="https://www.facebook.com/LotfyGroup/" target="_blank"><i
              class="fa fa-facebook"></i></a></li>
            <li class="social-rss"><a style="background-color: #00E676" href="https://wa.me/00201276061063"><i
              class="fa fa-whatsapp"></i></a></li>
            <!--            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
            <!--            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>-->
            <!--            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>-->
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <form action="http://html.multipurposethemes.com/shoppy/send_email.php" id="contactus" name="contactus"
              method="post">
          <div class="contact-form form-border clearfix">
            <div class="form-field w-100">
              <input type="text" placeholder="{{'Name*' | translate}}" class="form-control" name="InputName"
                     id="InputName" required>
            </div>
            <div class="form-field w-100">
              <input type="email" placeholder="{{'Email*' | translate}}" class="form-control" name="InputEmail"
                     id="InputEmail" required>
            </div>
            <div class="form-field w-100">
              <input type="text" placeholder="{{'Phone*' | translate}}" class="form-control" name="InputPhone"
                     id="InputPhone" required>
            </div>
            <div class="form-field textarea">
              <textarea class="form-control input-message" placeholder="{{'Comment*' | translate}}" rows="4"
                        name="InputMessage"
                        id="InputMessage"></textarea>
            </div>
            <div class="form-field submit-button w-auto">
              <button id="submit" name="submit" type="submit" value="Send"
                      class="cs-button"> {{'Send' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


