<section class="">
  <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev_slider_251_115" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
      <ul>
        <!-- SLIDE 1 -->
        <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut"
            data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" class="rev_gradient">

          <!-- MAIN IMAGE -->
          <img src="assets/images/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
               data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
          <!-- LAYER NR. 1 -->
          <!-- <div  class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['-140','-140','-140','-140']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000"
               data-splitin="none" data-splitout="none">
            <h2 style="line-height: 54px; font-weight: 100; font-size: 50px; color: #ffffff;">Make </h2>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['-70','-70','-70','-70']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
               data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"
               data-splitout="none">
            <h2 style="line-height: 54px; font-weight: 700; font-size: 50px; color: #ffffff;">Yourself </h2>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['0','0','0','0']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1000"
               data-splitin="none" data-splitout="none">
            <h2 style="line-height: 54px; font-weight: 400; font-size: 50px; color: #ffffff;">Safe</h2>
          </div> -->
        </li>

        <!-- SLIDE 2  -->
        <li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut"
            data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500">

          <!-- MAIN IMAGE -->
          <img src="assets/images/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
               data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
          <!-- LAYER NR. 1 -->
          <!-- <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['-140','-140','-140','-140']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
               data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000"
               data-splitin="none" data-splitout="none">
            <h2 style="line-height: 54px; font-weight: 100; font-size: 50px; color: #ffffff;">Make </h2>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['-70','-70','-70','-70']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
               data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1200" data-splitin="none"
               data-splitout="none">
            <h2 style="line-height: 54px; font-weight: 700; font-size: 50px; color: #ffffff;">Youeself </h2>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['0','0','0','0']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-transform_idle="o:1;"
               data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
               data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1000"
               data-splitin="none" data-splitout="none">
            <h2 style="line-height: 54px; font-weight: 400; font-size: 50px; color: #ffffff;">Safe</h2>
          </div>
          <div class="tp-caption tp-resizeme whitecolor" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['70','70','70','70']" data-whitespace="nowrap" data-responsive_offset="on"
               data-width="['none','none','none','none']" data-type="text"
               data-textalign="['center','center','center','center']" data-fontsize="['24','24','20','20']"
               data-transform_idle="o:1;"
               data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
               data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
               data-splitout="none">
            <p style="line-height: 36px; font-weight: 400; font-size: 30px; color: #ffffff;">Up to <span
              class="theme-color">25% Off</span></p>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
               data-voffset="['160','160','160','160']" data-width="200" data-height="none" data-whitespace="normal"
               data-type="button" data-actions='' data-responsive_offset="on"
               data-textAlign="['center','center','center','center']" data-margintop="[0,0,0,0]"
               data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
               data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;"}]'
               style=" box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
            <a routerLink="/products" class="cs-button">Shop Now</a>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="position-relative img-lamp-out">
          <div class="img-lamp"><img src="assets/images/about-1.png" class="img-fluid" alt=""></div>
        </div>
      </div>
      <div class="col-md-4 col-12 sm-mb-50">
        <div class="section-heading mb-30 mt-20">
          <h6 class="sub-heading">{{'Lotfy Group' | translate}}</h6>
          <h1 class="heading">Complete your <br>perfect set</h1>
        </div>
        <p>Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis auctor, tellus ac
          lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse potenti. </p>
        <a class="cs-button icon-color mt-30" href="#"><i class="fa fa-play"></i> Collection Video</a>
      </div>
      <div class="col-md-8 col-12">
        <img src="assets/images/about.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<!-- <section class="section-pb-100 sm-pb-50 sm-pt-50 pro-show-slide">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-theme" data-nav-dots="false" data-nav-arrow="true" data-items="4" data-md-items="4"
             data-sm-items="3" data-xs-items="2" data-xx-items="1">
          <div class="item">
            <app-card-two></app-card-two>
          </div>
          <div class="item">
            <app-card-two></app-card-two>
          </div>
          <div class="item">
            <app-card-two></app-card-two>
          </div>
          <div class="item">
            <app-card-two></app-card-two>
          </div>
          <div class="item">
            <app-card-two></app-card-two>
          </div>
          <div class="item">
            <app-card-two></app-card-two>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-4 col-12">
        <a href="#" class="promo-bx-link">
          <div class="promo-bx bg-overlay-black-20"
               style="background-image: url(assets/images/HomePage/money_counting.jpg);">
            <p class="cross">Collection 2020</p>
            <div class="promo-tx">
              <p>245 Products</p>
              <h2>Money Counting</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a href="#" class="promo-bx-link">
          <div class="promo-bx bg-overlay-black-20" style="background-image: url(assets/images/HomePage/office.jpg);">
            <p class="cross">Collection 2020</p>
            <div class="promo-tx">
              <p>345 Products</p>
              <h2>Office</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a href="#" class="promo-bx-link">
          <div class="promo-bx bg-overlay-black-20"
               style="background-image: url(assets/images/HomePage/Antiques.jpg);">
            <p class="cross">Collection 2020</p>
            <div class="promo-tx">
              <p>455 Products</p>
              <h2>Antiques</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 col-12">
        <img src="assets/images/HomePage/frame.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-4 col-12 sm-mt-50">
        <div class="section-heading mb-30">
          <h6 class="sub-heading">{{'Lotfy Group' | translate}}</h6>
          <h1 class="heading">{{'Catalog 2020' | translate}}</h1>
        </div>
        <p>Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis auctor, tellus ac
          lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse potenti. </p>
        <a class="cs-button mt-30" routerLink="/products">{{'View' | translate}}  &nbsp; <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-100 sm-pb-50 sm-pt-50 bg-light shop-grid trend-pro">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="section-heading mb-30 mt-100 sm-mt-0">
          <h6 class="sub-heading">{{'Lotfy Group' | translate}}</h6>
          <h1 class="heading">{{'Trending' | translate}} <br>{{'Items' | translate}}</h1>
        </div>
        <p>Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. </p>
      </div>
      <div class="col-md-9 col-12">
        <div class="owl-carousel owl-theme" data-nav-dots="false" data-nav-arrow="true" data-items="3" data-md-items="3"
             data-sm-items="2" data-xs-items="1" data-xx-items="1">
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/burglarySafe/img%20(41).jpeg'"
                      [collectionName]="'Burglary Safe'" [name]="'38BN'"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/cashBoxSafe/img%20(34).jpeg'"
                      [collectionName]="'Cash Box Safe'" [name]="'YFC-30'"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/electronicSafe/img%20(16).jpeg'"
                      [collectionName]="'Electronic Safe'" [name]="'50-ALC'"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/fingerprintBurglarySafe/img%20(39).jpeg'"
                      [collectionName]="'Fingerprint Burglary Safe'" [name]="'73CQ'"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/fireproofSafe/img%20(25).jpeg'"
                      [collectionName]="'Fireproof Safe'" [name]="'920ALD'"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/keySafe/img%20(30).jpeg'"
                      [collectionName]="'Key Safe'" [name]="'30k-45'"></app-card>
          </div>
          <div class="item">
            <app-card [image]="'assets/images/Products/Safes/safes/laptopSafe/img%20(19).jpeg'"
                      [collectionName]="'Laptop Safe'" [name]="'25-RG'"></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-0 pt-0 sm-pt-50">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-5 col-12">
        <div class="row">
          <div class="col-md-5 col-12"></div>
          <div class="col-md-7 col-12 sm-mb-50">
            <div class="section-heading mb-30">
              <h6 class="sub-heading">{{'Lotfy Group' | translate}}</h6>
              <h1 class="heading">{{'Lotfy Planner' | translate}}</h1>
            </div>
            <p>Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis
              auctor, tellus ac lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse
              potenti. </p>
            <a class="cs-button mt-30" routerLink="/products">
              {{'Start Planning' | translate}} &nbsp;
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-12">
        <img src="assets/images/HomePage/10828026_798047960243795_5637052896399403363_o.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-100 sm-pb-50 sm-pt-50 bg-light shop-grid trend-pro">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 col-12">
        <div class="row no-gutter">
          <div class="col-6">
            <a href="#" class="insta-img">
              <img src="assets/images/HomePage/72773172_2349264775122098_6931725797224873984_o.jpg" class="img-fluid"
                   alt="">
            </a>
          </div>
          <div class="col-6">
            <a href="#" class="insta-img">
              <img src="assets/images/HomePage/73178209_2349263475122228_3965188458493771776_o.jpg" class="img-fluid"
                   alt="">
            </a>
          </div>
          <div class="col-6">
            <a href="#" class="insta-img">
              <img src="assets/images/HomePage/73528699_2349264435122132_6985418227069222912_o.jpg" class="img-fluid"
                   alt="">
            </a>
          </div>
          <div class="col-6">
            <a href="#" class="insta-img">
              <img src="assets/images/HomePage/75349137_2349262995122276_521888257890320384_o.jpg" class="img-fluid"
                   alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-12 d-md-block d-none">
      </div>
      <div class="col-md-4 col-12 sm-mt-50">
        <div class="section-heading mb-30">
          <h6 class="sub-heading fs-24"><i class="fa fa-instagram"></i></h6>
          <h1 class="heading">Show Your <br>Story</h1>
        </div>
        <h4>Share your happiness.</h4>
        <p>Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis auctor, tellus ac
          lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna.</p>
        <a class="cs-button mt-30" href="#">Our Instagram &nbsp; <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section section-ptb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-12">
        <div class="section-heading">
          <h1 class="heading mb-30">{{'Contact Us' | translate}}</h1>
          <p class="mb-20 ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.</p>
        </div>
        <h4 class="py-2"><i class="ti-mobile theme-color"></i>&nbsp; {{'+(002) 012 - 760 - 61063' | translate}}</h4>
        <h4 class="py-2"><i class="ti-email theme-color"></i>&nbsp; {{'info@lotfygroup.com' | translate}}</h4>
        <h4 class="py-2"><i class="ti-map-alt theme-color"></i>&nbsp; {{'5 Taha Hussein, New Nuzha , Cairo Governorate' | translate}}</h4>
        <div class="social-icons color clearfix sm-mb-30">
          <ul>
            <!--            <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>-->
            <li class="social-facebook"><a href="https://www.facebook.com/LotfyGroup/" target="_blank"><i
              class="fa fa-facebook"></i></a></li>
            <!--            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
            <!--            <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>-->
            <!--            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>-->
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <form action="http://html.multipurposethemes.com/shoppy/send_email.php" id="contactus" name="contactus"
              method="post">
          <div class="contact-form form-border clearfix">
            <div class="form-field w-100">
              <input type="text" placeholder="{{'Name*' | translate}}" class="form-control" name="InputName" id="InputName" required>
            </div>
            <div class="form-field w-100">
              <input type="email" placeholder="{{'Email*' | translate}}" class="form-control" name="InputEmail" id="InputEmail" required>
            </div>
            <div class="form-field w-100">
              <input type="text" placeholder="{{'Phone*' | translate}}" class="form-control" name="InputPhone" id="InputPhone" required>
            </div>
            <div class="form-field textarea">
              <textarea class="form-control input-message" placeholder="{{'Comment*' | translate}}" rows="4" name="InputMessage"
                        id="InputMessage"></textarea>
            </div>
            <div class="form-field submit-button w-auto">
              <button id="submit" name="submit" type="submit" value="Send" class="cs-button"> {{'Send' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


