<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(../../../assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color">
            <span class="theme-color">
           product-category-filter-details works!
            </span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let fl of firstChild" [label]="lang === 'en' ? fl.label : fl.nameAr">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
