<app-preloader [loader]="preloader"></app-preloader>
<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(../../../assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color">
            <span class="theme-color">
           {{products?.label}}
            </span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let fl of firstChild">
      <ng-template mat-tab-label>
        <span (click)="getAllCategoryDetailsProducts(fl.data)">{{lang === 'en' ? fl.label : fl.nameAr}}</span>
      </ng-template>

      <div class="container mt-15">
        <div class="row">
          <div *ngFor="let x of products?.product" class="col-md-3 col-12 mb-30">
            <app-card [image]="imgApiPath + x.productImages[0].path" [name]="x.code"></app-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
