<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(../../../../assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Lighting</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-ptb-30 shop-grid">
  <div class="container">
    <p-breadcrumb [model]="breadCrumb" [home]="homeBreadCrumb"></p-breadcrumb>
    <br>
    <div class="row">
      <div *ngFor="let lightingDetails of lightingData" class="col-md-4 col-12 mb-30">
        <app-category-carousel-card [cardImageCarouselData]="lightingDetails"></app-category-carousel-card>
      </div>
    </div>
  </div>
</section>

