<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">{{'Frequently Asked Questions' | translate}}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30">
  <div class="container">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong> What type of safes do you sell?</h4>
      <p class="alert-warning"><strong>A.</strong> We have a variety of safes to suit both home and commercial usage.
        From fire, burglary, gun, data safes to treasury safes and high security safes.</p>
    </div>
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        What kind of safe do I need?
      </h4>
      <p class="alert-primary"><strong>A.</strong>
        The type of safe best suited for your use will depend on the contents
        and value of the contents. The more valuable the contents, the higher the rating needed. However, if fire is
        your main concern, you would need a fire safe with 1 or 2 hour rating.
      </p>
    </div>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Are all safes fire proof?
      </h4>
      <p class="alert-danger"><strong>A.</strong>
        Not necessarily. Safes are tested for fire or burglary or both. The safes will have labels designating their
        fire and burglary ratings.
      </p>
    </div>
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        What is the difference between a digital and a mechanical lock?
      </h4>
      <p class="alert-warning"><strong>A.</strong>
        A mechanical lock employs a 3-4 number dial that is turned to the opening combination. If the combination needs
        to be changed, it must be done by a qualified technician. The digital Lock employs a push button dial that uses
        a series of numbers to open the lock and is powered by batteries. The combination can be changed by the user.
        Generally, digital locks are easier to use, open quickly and allow user combination changes.
      </p>
    </div>
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Should I use a mechanical or digital lock?
      </h4>
      <p class="alert-primary"><strong>A.</strong>
        Digital locks are as reliable as mechanical, our sales staff can analyze your daily business use and advise the
        best lock for your needs.
      </p>
    </div>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        I have lost the combination to my safe. How do I find it?
      </h4>
      <p class="alert-danger"><strong>A.</strong>
        Depending on the product and the type of lock, our technical service department will be able to assist. Please
        ensure you have your product’s model and serial numbers and always ensure you are near the product when you
        call.
      </p>
    </div>

    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Is delivery needed?
      </h4>
      <p class="alert-primary"><strong>A.</strong>
        Due to the weight and size of some safes, it is advised that safes be delivered and installed by trained crew. A
        lighter weight safe can be set anywhere but for the best protection, our team should deliver, install and secure
        your safe.
      </p>
    </div>
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Where should we install the safe?
      </h4>
      <p class="alert-warning"><strong>A.</strong>
        The safe should be installed closest to the area for usage.
      </p>
    </div>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Is special maintenance required for my product?
      </h4>
      <p class="alert-success"><strong>A.</strong>
        High security safes should be serviced on a yearly basis. Service cost is minimal in comparison to the price of
        opening and repairing of a high security safe. Servicing should be done by a safe technician only.
      </p>
    </div>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        What is the difference between a fire proof document safe and fire proof data safe?
      </h4>
      <p class="alert-danger"><strong>A.</strong>
        A standard fire safe will protect paper documents only. Due to the high heat and humidity of a normal fire,
        photos and data should be stored in a data safe that does not allow the interior temperature to exceed 125
        degrees Celsius. A fire-proof safe is a safe designed to retain an internal temperature of less than 177°C in
        order to avoid damage to documents, paperwork or cash. At temperatures greater than this paper will combust and
        be destroyed.<br>
        Fireproof Data Safe is specifically designed to store not just paperwork and documents, but also vital and
        irreplaceable computer media and back-ups, such as Flash Disks, CDs, DVDs and Hard drives. Fireproof Data Safes
        are suitable for any valuable plastic or man-made materials. Computer media is more vulnerable to heat than
        paper documents are. Fireproof Data Safes offer greater protection from fire than fireproof document safes, as
        they maintain a temperature of 52°C or less for a specified time period. At temperatures greater than 52°C
        computer media can become corrupted or be destroyed.
      </p>
    </div>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        What extra steps should I take to deter theft?
      </h4>
      <p class="alert-success"><strong>A.</strong>
        Any safe that can be carried should be anchored. Safe anchoring is a fundamental aspect of safe security as it
        prevents potential buglers from taking off with the entire safe to try and open it later. This service is not
        included in scope of delivery and must be ordered separately.
      </p>
    </div>
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        I have lost the combination to my safe, Can you provide it to me?
      </h4>
      <p class="alert-primary"><strong>A.</strong>
        We are able to contact the manufactures who will release the combination code to us provided you give us the
        serial number of your safe.
      </p>
    </div>
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Where is the serial number to my safe?
      </h4>
      <p class="alert-warning"><strong>A.</strong>
        All serials numbers are outside of the safe.
      </p>
    </div>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Would you be able to replace lost keys?
      </h4>
      <p class="alert-danger"><strong>A.</strong>
        Absolutely, We can contact the manufactures who will send replacement keys. Please bear in mind this does take
        some time.
      </p>
    </div>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Can I get replacement parts for my safe?
      </h4>
      <p class="alert-success"><strong>A.</strong>
        Yes, Our safes are serviceable and replacement parts are available. Please contact us with your details.
      </p>
    </div>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"><strong>Q.</strong>
        Why does it make sense to have a safe?
      </h4>
      <p class="alert-success"><strong>A.</strong>
        Investing in a safe is one of the best moves you can make when it comes to establishing anti-burglary protection
        as this is how you can prevent your important documents and valuables from being stolen.
      </p>
    </div>

  </div>
</section>
