<div class="product-box">
  <div class="product-image">
    <!--      <ngx-progressive-image-loader-->
    <!--        filter="blur(3px) drop-shadow(0 0 0.75rem crimson)" [imageRatio]="3/2">-->
    <!--        <img [src]="image" style="max-height: 500px" alt="{{name}}" ngxProgressiveImage class="img-fluid">-->
    <!--      </ngx-progressive-image-loader>-->
    <div class="frameImg">
      <img [src]="image" style="max-height: 500px" alt="{{name}}" class="img-fluid img-thumbnail">
    </div>
    <!--    <div class="sale-flash offer">50% Off*</div>-->
  </div>
  <div class="product-descb">
    <div class="product-title">
      <h4 *ngIf="name">
        {{name}}
      </h4>
      <p *ngIf="collectionName">
        {{collectionName}}
      </p>
    </div>
    <div *ngIf="size" class="product-price">
      Size: {{size}}
    </div>
    <div *ngIf="weight" class="product-price">
      Weight: {{weight}}
    </div>
    <div *ngIf="quantity" class="product-price">
      Qty/Ctn: {{quantity}}
    </div>
    <div *ngIf="nwGw" class="product-price">
      NW/GW: {{nwGw}}
    </div>
  </div>
  <!--  <div class="product-overlay">-->
  <!--    <a href="#" class="add-to-cart">-->
  <!--      <span> Add to Bag</span>-->
  <!--      <i class="fa fa-shopping-bag"></i>-->
  <!--    </a>-->
  <!--  </div>-->
</div>
