<div class="product-box">
  <div class="product-image">
         <ngx-progressive-image-loader filter="blur(3px) drop-shadow(0 0 0.75rem crimson)">
           <div class="frameImg">
            <img [src]="image" style="max-height: 500px"  [imageRatio]="550 /500" alt="{{name}}" ngxProgressiveImage class="img-fluid img-thumbnail">
           </div>
         </ngx-progressive-image-loader>
    <!-- <div class="frameImg">
      <img [src]="image" style="max-height: 500px" alt="{{name}}" class="img-fluid img-thumbnail">
    </div> -->
    <!--    <div class="sale-flash offer">50% Off*</div>-->
  </div>
  <div class="product-descb">
    <div class="product-title">
      <h4 *ngIf="name">
        {{name}}
      </h4>
      <p *ngIf="collectionName">
        {{collectionName}}
      </p>
    </div>
    <div *ngIf="size" class="product-price">
      <span>Size:</span> {{size}}
    </div>
    <div *ngIf="weight" class="product-price">
      <span>Weight:</span> {{weight}}
    </div>
    <div *ngIf="quantity" class="product-price">
      <span>Qty/Ctn:</span> {{quantity}}
    </div>
    <div *ngIf="nwGw" class="product-price">
      <span>NW/GW:</span> {{nwGw}}
    </div>
  </div>
  <!--  <div class="product-overlay">-->
  <!--    <a href="#" class="add-to-cart">-->
  <!--      <span> Add to Bag</span>-->
  <!--      <i class="fa fa-shopping-bag"></i>-->
  <!--    </a>-->
  <!--  </div>-->
</div>


<!--<div class="boxing">-->
<!--  <div class="frameImg">-->
<!--    <img class="img-responsive" [src]="image" alt="{{name}}">-->
<!--  </div>-->

<!--  <div class="box-content">-->
<!--    <div class="content">-->
<!--      <h3 class="title"> {{name}} {{collectionName}}</h3><br>-->
<!--      <span *ngIf="size" class="post"><span style="color: #17469E">Size: </span>{{size}}</span><br>-->
<!--      <span *ngIf="weight" class="post"><span style="color: #17469E">Weight:</span> {{weight}}</span><br>-->
<!--      <span *ngIf="quantity" class="post"><span style="color: #17469E">Qty/Ctn:</span> {{quantity}}</span><br>-->
<!--      <span *ngIf="nwGw" class="post"><span style="color: #17469E">NW/GW:</span> {{nwGw}}</span><br>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
