<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span
            class="theme-color">{{'Money Counting Machine Products' | translate}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30 shop-grid">
    <div class="container">
      <div class="section-heading text-center mb-30 mt-20">
        <h1 class="heading theme-color">
          Currency counter 150</h1>
      </div>
      <div class="shorter">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-md-12 text-center">
                <img src="../../../../assets/images/Products/150.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <app-money-count [header]="'Currency counter 150'">-->
<!--    <div class="row" imgCarousel>-->
<!--      <div class="col-md-12 text-center">-->
<!--        <img src="../../../../assets/images/Products/150.jpg" class="img-fluid" alt="">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row" specifications>-->
<!--      <div class="col-md-12">-->
<!--        <p>specifications</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row" features>-->
<!--      <div class="col-md-12 text-center">-->
<!--        <p>features</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </app-money-count>-->

  <section class="section-ptb-30 shop-grid">
    <div class="container">
      <div class="section-heading text-center mb-30 mt-20">
        <h1 class="heading theme-color">
          Currency counter 3000
        </h1>
      </div>
      <div class="shorter">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-md-12 text-center">
                <img src="../../../../assets/images/Products/300.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-12">
                <div class="alert alert-light" role="alert">
                  <h4 class="alert-heading theme-color">Performance & Description</h4>
                  <p>
                    - Feed: roller friction system. <br>
                    - Currencies available: Euro, USD and Kenyan Shillings.<br>
                    - Counting modes: automatic or manual start mode, continuous counting mode, batch counting mode,
                    only
                    counting mode, value counting mode (mixed, single,face orientation), sort counting mode.<br>
                    - Counterfeit detection: DEN (Double detection mode), DD (widht detection), 3D(Length Detection),
                    MG,
                    THD(Mental Thread counterfeit Detection), IR
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-ptb-100 sm-pb-50 sm-pt-50 bg-black text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <div class="section-heading mb-30">
            <h1 class="heading">Join Our Shoppy Family</h1>
          </div>
          <p class="text-dark">Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis
            auctor,
            tellus ac lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse
            potenti. </p>
          <a class="cs-button mt-30 cs-button-border black" href="#">Get Your Card &nbsp; <i
            class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>

