<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span
            class="theme-color">{{'Money Counting Machine Products' | translate}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="shorter">
      <div class="row">
        <!-- Shop Accordion start-->
        <div class="col-lg-3 col-md-4 accordion-3">
          <div class="section-heading line left text-left mb-20">
            <h4 class="heading fs-20">Categories</h4>
          </div>
          <div class="tab-wrapper v1">
            <div class="list">
              <div class="item selected">
                <div class="tab-btn">
                  <a href="#">Options<em class="mdi mdi-minus"></em></a>
                </div>
                <div class="tab-content">
                  <ul>
                    <li class="activeIsotope" data-filter="*">All</li>
                    <li data-filter=".topLanding">Top Loading</li>
                    <li data-filter=".frontLanding">Front Loading</li>
                    <li data-filter=".sorting">Sorting</li>
                    <li data-filter=".mixedValue">Mixed Value</li>
                    <li data-filter=".manualValue">Manual Value</li>
                    <li data-filter=".detection">Detection</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Shop Accordion end-->
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="row money-counting-item">
            <div class="col-md-4 item topLanding col-12 mb-30">
              <app-route-card [route]="'products/moneyCounting/1'"
                              [imgPath]="'assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg'"
                              [productCode]="'1'"
                              [productCategory]="'Collection 2020'"></app-route-card>
            </div>
            <div class="col-md-4 item frontLanding detection col-12 mb-30">
              <app-route-card [route]="'products/moneyCounting/1'"
                              [imgPath]="'assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg'"
                              [productCode]="'2'"
                              [productCategory]="'Collection 2020'"></app-route-card>
            </div>
            <div class="col-md-4 item sorting col-12 mb-30">
              <app-route-card [route]="'products/moneyCounting/1'"
                              [imgPath]="'assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg'"
                              [productCode]="'3'"
                              [productCategory]="'Collection 2020'"></app-route-card>
            </div>
            <div class="col-md-4 item mixedValue col-12 mb-30">
              <app-route-card [route]="'products/moneyCounting/1'"
                              [imgPath]="'assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg'"
                              [productCode]="'4'"
                              [productCategory]="'Collection 2020'"></app-route-card>
            </div>
            <div class="col-md-4 item manualValue col-12 mb-30">
              <app-route-card [route]="'products/moneyCounting/1'"
                              [imgPath]="'assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg'"
                              [productCode]="'5'"
                              [productCategory]="'Collection 2020'"></app-route-card>
            </div>
            <div class="col-md-4 item detection col-12 mb-30">
              <app-route-card [route]="'products/moneyCounting/1'"
                              [imgPath]="'assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg'"
                              [productCode]="'6'"
                              [productCategory]="'Collection 2020'"></app-route-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section section-ptb-100 sm-pb-50 sm-pt-50 bg-black text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="section-heading mb-30">
          <h1 class="heading">Join Our Shoppy Family</h1>
        </div>
        <p class="text-dark">Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis
          auctor,
          tellus ac lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse
          potenti. </p>
        <a class="cs-button mt-30 cs-button-border black" href="#">Get Your Card &nbsp; <i
          class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

