<!---page Title --->
<section class="section-ptb-150" data-jarallax='{"speed": 0.4}' style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Money Counting Machine Products</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Page content -->
<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="shorter">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-6 col-sm-6 text-left">
          <span>Showing 1–12 of 30 products</span>
        </div>
      </div>
      <div class="row">
        <!-- Shop Accordion start-->
        <div class="col-lg-3 col-md-4 accordion-3">
          <div class="section-heading line left text-left mb-20">
            <h4 class="heading fs-20">Categories</h4>
          </div>
          <div class="tab-wrapper v1">
            <div class="list">
              <div class="item selected">
                <div class="tab-btn">
                  <a href="#">Application<em class="mdi mdi-minus"></em></a>
                </div>
                <div class="tab-content">
                  <ul>
                    <li><a href="#">Accessories-1</a></li>
                    <li><a href="#">Accessories-2</a></li>
                    <li><a href="#">Accessories-3</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="tab-btn"><a href="#">Utilities</a></div>
              </div>
              <div class="item">
                <div class="tab-btn"><a href="#">Mobile <em class="mdi mdi-minus"></em></a></div>
                <div class="tab-content">
                  <ul>
                    <li><a href="#">Accessories-1</a></li>
                    <li><a href="#">Accessories-2</a></li>
                    <li><a href="#">Accessories-3</a></li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="tab-btn"><a href="#">Accessiories</a></div>
              </div>
              <div class="item">
                <div class="tab-btn"><a href="#">Game <em class="mdi mdi-minus"></em></a></div>
                <div class="tab-content">
                  <ul>
                    <li><a href="#">Accessories-1</a></li>
                    <li><a href="#">Accessories-2</a></li>
                    <li><a href="#">Accessories-3</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Shop Accordion end-->
          <!-- Shop Colors start -->
          <div class="section-heading line left text-left mb-10 mt-20">
            <h4 class="heading fs-20">Color</h4>
          </div>
          <div class="tab-wrapper v1">
            <div class="list">
              <div class="item">
                <div class="tab-btn"><a href="#">Utilities</a></div>
              </div>
              <div class="item">
                <div class="tab-btn"><a href="#">Accessiories</a></div>
              </div>
            </div>
          </div>

          <div class="section-heading line left text-left mb-10 mt-20">
            <h4 class="heading fs-20">Size</h4>
          </div>
          <div class="widget-tags">
            <ul>
              <li><a href="#">XS</a></li>
              <li><a href="#">SM</a></li>
              <li><a href="#">M</a></li>
              <li><a href="#">L</a></li>
              <li><a href="#">XL</a></li>
              <li><a href="#">XXL</a></li>
            </ul>
          </div>
          <!-- Shop Colors end -->
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="row">
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-ptb-100 sm-pb-50 sm-pt-50 bg-theme text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="section-heading mb-30">
          <h1 class="heading">Join Our Shoppy Family</h1>
        </div>
        <p class="text-dark">Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis auctor,
          tellus ac lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse
          potenti. </p>
        <a class="cs-button mt-30 cs-button-border black" href="#">Get Your Card &nbsp; <i
          class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

