<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3">
      <ngx-progressive-image-loader>
        <img src="{{imagePath}}" class="card-img" alt="{{codeName}}" [imageRatio]="1" ngxProgressiveImage>
      </ngx-progressive-image-loader>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title theme-color">
              {{codeName}}
            </h4>
          </div>
          <div class="col-6">
            <h4 class="card-title" [ngClass]="{'float-right' : lang === 'en' , 'float-left' : lang === 'ar'}">
              <a routerLink="{{route}}" class="btn btn-primary">{{'See More' | translate}} <i
                class="fa fa-long-arrow-right"></i></a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
