<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{imagePath}}" class="card-img" alt="{{codeName}}">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title theme-color">
              {{codeName}}
            </h4>
          </div>
          <div class="col-6">
            <h4 class="card-title float-right">
              <a routerLink="{{route}}" class="btn btn-primary">See More</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
