<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(../../../assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color">
            <span class="theme-color">
             product-category-details works!
            </span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="shorter">
      <div class="row">
        <div *ngFor="let prod of products;" class="col-md-3 col-12 mb-30">
          <app-card [name]="prod.code" [image]="imgApiPath + prod.productImages[0]?.path"></app-card>
        </div>
      </div>
    </div>
  </div>
</section>
