<!---page Title --->
<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Category Name Product</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30 shop-grid">

</section>
