<div class="card">
  <div id="{{cardImageCarouselData.name}}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let Data of cardImageCarouselData.images ,let i=index" [ngClass]="i==0 ?'active':'inactive' " class="carousel-item">
        <img [src]="Data" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#{{cardImageCarouselData.name}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{cardImageCarouselData.name}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="card-body text-center">
    <h3 class="theme-color">{{cardImageCarouselData.name}}</h3>
    <p class="card-text">{{cardImageCarouselData.paragraph}}</p>
    <a *ngFor="let x of cardImageCarouselData.route" routerLink="./{{x.routerPath}}" class="btn m-2 btn-outline-primary">{{x.routerName}}</a>
  </div>
</div>
