<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">{{breadCrumbArray.breadCrumbName}} Products</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-ptb-30 shop-grid">
  <div class="container">
    <p-breadcrumb [model]="breadCrumb" [home]="homeBreadCrumb"></p-breadcrumb>
    <br>
    <div class="shorter" *ngIf="digitalData.length">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div *ngFor="let digital of digitalData" class="col-md-3 col-12 mb-30">
              <app-card [name]="digital.name" [image]="digital.imgPath"
                        [collectionName]="digital.category.name" [size]="digital.size" [weight]="digital.weight"
                        [nwGw]="digital.nwGw" [quantity]="digital.quantity"></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shorter" *ngIf="!digitalData.length">
    <div class="jumbotron container">
      <h3 class="display-3 text-center">
        <i class="fa fa-frown-o" aria-hidden="true"></i> No Products Yet
      </h3>
    </div>
  </div>
</section>


<!--<img src="../../../assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20Trending.jpeg" alt="">-->
