<div class="card">
  <img src="assets/images/Products/Safes3/safes/safes/Office%20safes/BN%20Series/img%20(40).jpeg" class="card-img-top"
       alt="...">
  <div class="card-body text-center">
    <h3 class="card-title theme-color">Card title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <a href="assets/Data/Mission-and-Vision-LG-Arabic.docx" class="btn btn-primary"><i
      class="fa fa-download" download></i> Download</a>
  </div>
</div>
