<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Money Counting Details</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-ptb-30 shop-pages">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="flexslider">
          <ul class="slides">
            <li
              data-thumb="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg">
              <img src="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg"
                   style="height: 400px" class="img-fluid" alt=""/>
            </li>
            <li
              data-thumb="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg">
              <img src="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg"
                   style="height: 400px" class="img-fluid" alt=""/>
            </li>
            <li
              data-thumb="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg">
              <img src="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg"
                   style="height: 400px" class="img-fluid" alt=""/>
            </li>
            <li
              data-thumb="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg">
              <img src="assets/images/Products/Safes3/safes/safes/fireproof%20safe/Chinese%20Fireproof/img%20(25).jpeg"
                   style="height: 400px" class="img-fluid" alt=""/>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Specifications">
            <br>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning">A simple secondary list group item</li>
              <li class="list-group-item list-group-item-warning">A simple secondary list group item</li>
              <li class="list-group-item list-group-item-warning">A simple secondary list group item</li>
              <li class="list-group-item list-group-item-warning">A simple secondary list group item</li>
            </ul>
          </mat-tab>
          <mat-tab label="Features">
            <br>
            <li class="list-group-item list-group-item-primary">A simple secondary list group item</li>
            <li class="list-group-item list-group-item-primary">A simple secondary list group item</li>
            <li class="list-group-item list-group-item-primary">A simple secondary list group item</li>
            <li class="list-group-item list-group-item-primary">A simple secondary list group item</li>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
