<!--<app-preloader [loader]="preloader"></app-preloader>-->
<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(../../../assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color">
            <span class="theme-color">
                product-filter-by-tag works!
            </span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="shorter">
      <div class="row">
        <div class="col-lg-3 col-md-4 accordion-3">
          <div class="section-heading line left text-left mb-20">
            <h4 class="heading fs-20">{{'Categories' | translate}}</h4>
          </div>
          <div class="tab-wrapper v1">
            <div class="list">
              <div class="item selected">
                <div class="tab-btn">
                  <a href="#">{{'Options' | translate}}<em class="mdi mdi-minus"></em></a>
                </div>
                <div class="tab-content">
                  <ul>
                    <li class="activeIsotope" data-filter="*">All</li>
                    <li *ngFor="let tags of categoryTags" [attr.data-filter]="'.' + tags.id">{{tags.tagName}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="row money-counting-item">
            <div *ngFor="let prod of products" class="item {{prod.tag.replace(regex , ' ')}} col-12">
              <app-money-counting-card [imagePath]="imgApiPath + prod.productImages[0].path" [codeName]="prod.code"
                                       [route]="'../../../product-details/single-product/' + prod.id"></app-money-counting-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
