<!---page Title --->
<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">{{'Contact Us' | translate}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Page content -->
<section class="section-ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mb-20">
          <h6 class="sub-heading">{{lang === 'en' ? contactUsSection?.subTitle : contactUsSection?.subTitleAr}}</h6>
          <h1 class="heading">{{lang === 'en' ? contactUsSection?.title : contactUsSection?.titleAr}}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <form>
          <div class="contact-form form-border clearfix">
            <div class="form-field">
              <input id="name" type="text" placeholder="{{'Name*' | translate}}" class="form-control" name="name">
            </div>
            <div class="form-field">
              <input type="email" placeholder="{{'Email*' | translate}}" class="form-control" name="email">
            </div>
            <div class="form-field">
              <input type="text" placeholder="{{'Phone*' | translate}}" class="form-control" name="phone">
            </div>
            <div class="form-field textarea">
              <textarea class="form-control input-message" placeholder="{{'Comment*' | translate}}" rows="7"
                        name="message"></textarea>
            </div>
            <div class="form-field submit-button">
              <input type="hidden" name="action" value="sendEmail">
              <button id="submit" name="submit" type="submit" value="Send"
                      class="cs-button"> {{'Send your message' | translate}} <i
                class="ti-comment-alt"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-0">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55212.40928590042!2d31.33973467910155!3d30.129234599999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584152d16d6d3f%3A0xefc3b747a4162d66!2z2YTYt9mB2Ykg2KzYsdmI2KggTG90ZnkgR3JvdXA!5e0!3m2!1sen!2seg!4v1586370063453!5m2!1sen!2seg"
          class="map" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
        <div class="pl-50 pr-30 pt-40 pb-50 xs-pl-15 mt-30">
          <div class="section-heading text-left mb-20">
            <h6 class="sub-heading">{{'We will be with you.' | translate}}</h6>
            <h1 class="heading">{{'Contact Us' | translate}}</h1>
          </div>
          <p class="mb-50">{{lang === 'en' ? contactUsSection?.details : contactUsSection?.details}}</p>
          <p><i class="ti-mobile"></i>&nbsp; {{'+(002) 012 - 760 - 61063' | translate}}</p>
          <p><i class="fa fa-weixin"></i>&nbsp; {{'+(002) 012 - 706 - 0298' | translate}}</p>
          <p><i class="ti-email"></i>&nbsp; {{'info@lotfygroup.com' | translate}}</p>
          <p><i class="ti-map-alt"></i>&nbsp;{{'5 Taha Hussein, New Nuzha , Cairo Governorate' | translate}}</p>
          <div class="social-icons color clearfix mt-40 text-left">
            <ul class="text-left">
              <li class="social-facebook"><a href="https://www.facebook.com/LotfyGroup/" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
              <li class="social-rss"><a style="background-color: #00E676" href="https://wa.me/00201276061063"><i
                class="fa fa-whatsapp"></i></a></li>
              <!--              <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
              <!--              <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>-->
              <!--              <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

