<!---page Title --->
<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Cabinets Products. </span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="section-heading text-center mb-30 mt-20">
      <h1 class="heading theme-color">Hasemart four drawer fire resistant cabinets.</h1>
    </div>
    <div class="shorter">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="section-heading text-center mb-30 mt-20">
                <h3 class="heading">
                  Specifications
                </h3>
              </div>
            </div>
            <div class="col-12 text-center">
              <img src="../../../../assets/images/Products/cabi1.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="section-heading text-center mb-30 mt-20">
      <h1 class="heading theme-color">Moem Fire Resistant Cabinets</h1>
    </div>
    <p>MOEM series of fire resistant cabinet offers protection for valuables against fire. MOEM series of fire resistant
      cabinet are the result of extensive research and development, designed to fulfill international standards. MOEM
      series of fire resistant cabinets is tested and certified by SP Technical Research Institute of Sweden.</p>
    <div class="shorter">

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="section-heading text-center mb-30 mt-20">
                <h3 class="heading">
                  Specifications
                </h3>
              </div>
            </div>
            <div class="col-12 text-center">
              <img src="../../../../assets/images/Products/cabi2.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="section-heading text-center mb-30 mt-20">
                <h3 class="heading">Features</h3>
              </div>
              <div class="row">
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Protective thickness of door and body</h4>
                    <p class="alert-dark">Overall thickness of door and body measures 50mm thickness comprising of MOEM
                      special fire resistant barrier material encased between electro-galvanized steel (EG) door and
                      body.</p>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Individual compartments</h4>
                    <p class="alert-dark">Inner compartment is designed individually. The independent allows individual
                      protection against fire should any drawers be left open in case of fire. </p>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Heavy duty metal railling</h4>
                    <p class="alert-dark">The drawers are suspended on heavy duty metal railing with metal bearing
                      rollers for added strength and durability. The drawers are capable of taking weight up to 80kg
                      UDL. The heavy railings are rainbow coated for resistance against rust. </p>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Double toungue and groove construction</h4>
                    <p class="alert-dark">The advanced S-design construction between body and drawer front prevents the
                      passage of flame. Intumescent strips are used for added protection against the passage of
                      flame. </p>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Locking system</h4>
                    <p class="alert-dark">The fire resistant cabinet is secured by key lock and keyless combination lock
                      (central locking). The drawers are also fitted with flip lever that allows overriding of central
                      locking for individual control options. Individual key lock and are available as option. </p>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Plinth and handle</h4>
                    <p class="alert-dark">A special shock absorbing plinth is designed to break the fall. External
                      user-friendly press butting handle is designed to allow maximum insulation without compromising
                      protective thickness of door. Aesthetic look, ease of operation, user friendliness and injury free
                      usage has been into consideration. </p>
                  </div>
                </div>
                <div class="col-md-12 col-12 mb-30">
                  <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading text-primary">Finishes</h4>
                    <p class="alert-dark">Epoxy powder coated. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section section-ptb-100 sm-pb-50 sm-pt-50 bg-black text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="section-heading mb-30">
          <h1 class="heading">Join Our Shoppy Family</h1>
        </div>
        <p class="text-dark">Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis auctor,
          tellus ac lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse
          potenti. </p>
        <a class="cs-button mt-30 cs-button-border black" href="#">Get Your Card &nbsp; <i
          class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

