<footer class="footer footer-2 pt-50 bg-white">
  <div class="container">
       <div class="row">
<div class="col-12">
  <p class="mt-0 mb-30 text-center"> ©Copyright <span id="copyright">2020</span> <a href="#"> Shoppy </a> All Rights Reserved </p>
</div>
          <div class="col-12">
              <div class="footer-terms">
                <ul class="text-center">
                  <li class="list-inline-item"><a href="#">Categorise </a> &nbsp;&nbsp;&nbsp;|</li>
                  <li class="list-inline-item"><a href="#">Services </a> &nbsp;&nbsp;&nbsp;|</li>
                  <li class="list-inline-item"><a href="#">Planning Tools &nbsp;&nbsp;&nbsp;|</a> </li>
                  <li class="list-inline-item"><a href="#">Jobs </a> &nbsp;&nbsp;&nbsp;|</li>
                  <li class="list-inline-item"><a href="#">Faqs </a> &nbsp;&nbsp;&nbsp;|</li>
                  <li class="list-inline-item"><a href="#">Contact Us</a> </li>
                </ul>
              </div>
          </div>
<div class="col-12">
  <div class="social-icons color-hover mt-20 mb-30 text-center">
    <ul>
      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
    </ul>
  </div>
 </div>
      </div>
  </div>
</footer>
