<!--start Nav bar -->
<header>
  <nav hidden class="nav-white nav-transparent full-width">
    <div class="nav-header">
      <a routerLink="" class="brand">
        <img src="assets/images/brand/logo.png" alt=""/>
      </a>
      <button class="toggle-bar">
        <span class="ti-menu"></span>
      </button>
    </div>
    <ul class="menu">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/aboutUs">About Us</a></li>
      <li><a routerLink="/certificate">Certificate</a></li>
      <li class="dropdown">
        <a href="#">Products</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/products/safes">Safes</a></li>
          <li><a routerLink="/products/cabinets">Cabinets</a></li>
          <li><a routerLink="/products/vaultsDoors">Vaults Doors</a></li>
          <li><a routerLink="/products/moneyCounting">Money Counting Machine</a></li>
        </ul>
      </li>
      <li><a routerLink="/faq">FAQs</a></li>
      <li><a routerLink="/contactUs">Contact Us</a></li>
    </ul>
    <ul class="attributes">
      <li><a href="#" class="toggle-search-fullscreen"><span class="ti-search"></span></a></li>
      <li class="megamenu" data-width="270">
        <a href="#"><span class="ti-shopping-cart"></span></a>
        <div class="megamenu-content megamenu-cart">
          <!-- Start Shopping Cart -->
          <div class="cart-header">
            <div class="total-price">
              Total: <span>$2,432.93</span>
            </div>
            <i class="ti-shopping-cart"></i>
            <span class="badge">3</span>
          </div>
          <div class="cart-body">
            <ul>
              <li>
                <img src="assets/images/thumb/thumb01.jpg" alt="">
                <h5 class="title">Lorem ipsum dolor</h5>
                <span class="qty">Quantity: 02</span>
                <span class="price">$843,12</span>
                <a href="#" class="link"></a>
              </li>
              <li>
                <img src="assets/images/thumb/thumb02.jpg" alt="">
                <h5 class="title">Lorem ipsum dolor</h5>
                <span class="qty">Quantity: 02</span>
                <span class="price">$843,12</span>
                <a href="#" class="link"></a>
              </li>
              <li>
                <img src="assets/images/thumb/thumb03.jpg" alt="">
                <h5 class="title">Lorem ipsum dolor</h5>
                <span class="qty">Quantity: 02</span>
                <span class="price">$843,12</span>
                <a href="#" class="link"></a>
              </li>
            </ul>
          </div>
          <div class="cart-footer">
            <a href="#">Checkout</a>
          </div>
          <!-- End Shopping Cart -->
        </div>
      </li>
    </ul>

    <div class="wrap-search-fullscreen">
      <button class="close-search"><span class="ti-close"></span></button>
      <input type="text" placeholder="Search..."/>
    </div>
  </nav>
</header>
<!--end nav bar-->
