<!--start Nav bar -->
<header>
  <nav hidden class="nav-white nav-transparent full-width">
    <div class="nav-header">
      <a routerLink="" class="brand">
        <img src="assets/images/brand/logo.png" alt=""/>
      </a>
      <button class="toggle-bar">
        <span class="ti-menu"></span>
      </button>
    </div>
    <ul class="menu">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
          [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}"><a
        routerLink="">{{'Home' | translate}}</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
          [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}"><a
        routerLink="/aboutUs">{{'About Us' | translate}}</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
          [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}"><a
        routerLink="/products">{{'Products' | translate}}</a></li>
      <!--      <li [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}"><a-->
      <!--        routerLink="/certificate">{{'Certificate' | translate}}</a></li>-->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
          [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}" class="dropdown">
        <a href="#">{{'Products' | translate}}</a>
        <ul class="dropdown-menu">
          <li><a style="text-align: center;" routerLink="/products/safes">{{'Safes' | translate}}</a></li>
          <!--          <li><a style="text-align: center;" routerLink="/products/cabinets">{{'Cabinets' | translate}}</a></li>-->
          <!--          <li><a style="text-align: center;" routerLink="/products/vaultsDoors">{{'Vaults Doors' | translate}}</a></li>-->
          <li><a style="text-align: center;"
                 routerLink="/products/moneyCounting">{{'Bill Counting Machine' | translate}}</a></li>
          <li><a style="text-align: center;" routerLink="/products/furniture">Furniture</a></li>
          <li><a style="text-align: center;" routerLink="/products/lighting">Lighting</a></li>
          <li><a style="text-align: center;" routerLink="/products/gallery">Gallery</a></li>
        </ul>
      </li>
      <!--      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}"><a-->
      <!--        routerLink="/faq">{{'FAQs' |translate}}</a></li>-->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
          [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}"><a
        routerLink="/contactUs">{{'Contact Us' | translate}}</a></li>
      <li [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}">
        <a *ngIf="language === 'ar'" style="cursor: pointer" (click)="changeLanguage()">
          English
        </a>
        <a *ngIf="language === 'en'" style="cursor: pointer" (click)="changeLanguage('ar')">
          العربيه
        </a>
      </li>
    </ul>
    <ul [ngStyle]="language === 'ar'? {'float': 'right'}: {'float': 'left'}" class="attributes">
      <li><a href="tel:01276061063" class="d-block d-sm-none"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    </ul>

    <div class="wrap-search-fullscreen">
      <button class="close-search"><span class="ti-close"></span></button>
      <input type="text" placeholder="Search..."/>
    </div>
  </nav>
</header>
<!--end nav bar-->
