/* You can add global styles to this file, and also import other style files */
@import "./assets/css/plugin.css";
@import "./assets/vendor/revolution-slider/revolution/css/settings.css";
@import "./assets/vendor/revolution-slider/revolution/css/layers.css";
@import "./assets/vendor/revolution-slider/revolution/css/navigation.css";
@import "./assets/css/typographies.css";
@import "./assets/css/template-element.css";
@import "./assets/css/style.css";
@import "./assets/css/responsive.css";
/*@import "./assets/css/custom.css";*/
@import '~ngx-progressive-image-loader/ngx-progressive-image-loader.scss';

/* .tp-parallax-wrap{
  right: 50% !important;
} */

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: #ED1B24;
}

body[dir=rtl] {
  text-align: right;
}


*[dir=rtl] .img-fluid {
  float: right !important;
}

*[dir=rtl] .trend-pro .owl-theme .owl-nav {
  right: -290px;
  left: auto;
}

*[dir=rtl] .contact-form .form-field {
  /*position: relative;*/
  /*width: 31.3%;*/
  margin-right: 2%;
  float: right;
}

*[dir=rtl] .text-left {
  text-align: right !important;
}

*[dir=rtl] .tab-wrapper {
  text-align: right;
}

*[dir=rtl] .section-heading.line.left .heading:before {
  right: 0;
}

body .ui-breadcrumb ul li .ui-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

body .ui-breadcrumb ul .activeBreadCrumb .ui-menuitem-link {
  color: #ED1B24;
}

body .ui-breadcrumb {
  background-color: #ffffff;
  border: 1px solid #17469E;
  padding: 0.571em 1em;
}

body .ui-breadcrumb ul li:first-child a {
  color: #17469E;
  margin: 0;
}

body .ui-breadcrumb ul li .ui-menuitem-link {
  color: #17469E;
  margin: 0;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}
