<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Tests and Certifications</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="alert alert-dark" role="alert">
      Your satisfaction and trust is our driving force, motivating us to serve you with the highest quality products.
      Each model undergoes vigorous testing process and evaluations. Our products are certified by recognized global
      certification bodies such as Underwriters Laboratories (USA), SP Technical Research Institute of Sweden and JIS
      (Japan Industrial Standards).
    </div>
    <div class="shorter">
      <div class="section-heading text-center mb-30 mt-20">
        <h3 class="heading">Stringent testing of products at European test facility.</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-3 col-12 mb-30">
              <app-card></app-card>
            </div>
          </div>
          <div class="section-heading text-center mb-30 mt-20">
            <h3 class="heading">Fire endurance Test</h3>
          </div>
          <div class="col-12 text-center">
            <img src="../../../../assets/images/Cirtificates/Fire endurance Test.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../../../../assets/images/Cirtificates/fire2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../../../../assets/images/Cirtificates/fire3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../../../../assets/images/Cirtificates/fire4.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="section-heading text-center mb-30 mt-20">
            <h3 class="heading">JIS Test</h3>
          </div>
          <div class="col-12 text-center">
            <img src="../../../../assets/images/Cirtificates/hasefire1.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="section-heading text-center mb-30 mt-20">
            <h3 class="heading">Test Report</h3>
          </div>
          <div class="col-12 text-center">
            <img src="../../../../assets/images/Cirtificates/testR.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="section-heading text-center mb-30 mt-20">
            <h3 class="heading">MOEM Cabinet fire test </h3>
          </div>
          <div class="col-12 text-center">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHC1G_Bq_vY" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
