.product-menu-tabs {
  text-align: center;
}

.product-menu-tabs ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  display: inline-block;
  margin: 5px;
  list-style: none;
  padding: 10px 15px;
  border: 1px solid #17469e;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.product-menu-tabs ul li:hover {
  background:  #17469e;
  color:  #f4f4f4;
}

li.active {
  background:  #17469e;
  color:  #f4f4f4;
}
