<!---page Title --->
<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">{{'Safes Products' | translate}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-ptb-30 shop-grid">
  <div class="container">
    <p-breadcrumb [model]="breadCrumb" [home]="homeBreadCrumb"></p-breadcrumb>
    <br>
    <div class="row">
<!--      <div class="col-md-4 col-12 mb-30" *ngIf="homeData">-->
<!--        <app-card-image-carousel-->
<!--          [cardImageCarouselData]="homeData">-->
<!--        </app-card-image-carousel>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-12 mb-30" *ngIf="officeData">-->
<!--        <app-card-image-carousel-->
<!--          [cardImageCarouselData]="officeData">-->
<!--        </app-card-image-carousel>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-12 mb-30" *ngIf="fireproofData">-->
<!--        <app-card-image-carousel-->
<!--          [cardImageCarouselData]="fireproofData">-->
<!--        </app-card-image-carousel>-->
<!--      </div>-->
    </div>
  </div>
</section>

