<!---page Title --->
<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">Moem Compact Series Safes</span></h1>
          <br>
          <p class="heading theme-color">
            <span class="theme-color">
            We understand the importance of safety and security and will recommend the right solutions to protect your
            valuables against fire, theft and loss. Our range of safes include treasury safes, deposit safes, home
            safes, commercial safes, documents safes and digital media safes.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Page content -->
<section class="section-ptb-30 shop-grid">
  <div class="container">
    <div class="alert alert-primary" role="alert">
      <strong>
        MOEM Compact series safe is designed for medium range protection for your valuables and important documents
        against burglary and fire. Compact series safe is designed for easy operations and everyday use in small
        businesses, homes and other commercial applications.
      </strong>
    </div>
    <div class="shorter">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
            <div class="col-md-4 col-12 mb-30">
              <app-card></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-ptb-100 sm-pb-50 sm-pt-50 bg-theme text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="section-heading mb-30">
          <h1 class="heading">Join Our Shoppy Family</h1>
        </div>
        <p class="text-dark">Sed bibendum enim sed mattis dictum. Donec in neque non sem lacinia tincidunt. Duis auctor,
          tellus ac lobortis mollis, magna dui convallis felis, eget porta ipsum nibh sed urna. Suspendisse
          potenti. </p>
        <a class="cs-button mt-30 cs-button-border black" href="#">Get Your Card &nbsp; <i
          class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

