<section class="section-ptb-30" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">{{'About Us' | translate}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <br>
    <p-breadcrumb [model]="breadCrumb" [home]="homeBreadCrumb"></p-breadcrumb>
    <div class="row">
      <div class="col-12">
        <div class="position-relative img-lamp-out">
          <div class="img-lamp"><img src="assets/images/about-1.png" class="img-fluid" alt=""></div>
        </div>
      </div>
      <div class="col-12 sm-mb-50">
        <div class="section-heading text-center mb-30 mt-20">
          <h1 class="heading">{{aboutUsSection?.title}}</h1>
        </div>
      </div>
      <div class="col-md-6 col-12 sm-mb-50">
        <p [innerHTML]="aboutUsSection?.details"></p>
      </div>
      <div class="col-md-6 col-12 sm-mb-50">
        <img [src]="imgApiPath + aboutUsSection?.sectionMedia[0].path" class="img-thumbnail" alt="">
      </div>
    </div>
  </div>
</section>






