<section class="section-ptb-150" data-jarallax='{"speed": 0.4}'
         style="background-image: url(assets/images/bg-img.jpg);">
  <div class="container">
    <div class="row dark-bg">
      <div class="col-12">
        <div class="section-heading mt-80 text-center">
          <h1 class="heading theme-color"><span class="theme-color">{{'About Us' | translate}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-pb-100 sm-pb-50 sm-pt-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="position-relative img-lamp-out">
          <div class="img-lamp"><img src="assets/images/about-1.png" class="img-fluid" alt=""></div>
        </div>
      </div>
      <div class="col-md-4 col-12 sm-mb-50">
        <div class="section-heading text-center mb-30 mt-20">
          <h1 class="heading">{{'More Knowledge' | translate}}</h1>
        </div>
        <p>
          Lotfy Group Company for Import , Leading Egypt market for a better Home Solution .
          <br>
          Our main countries of import is : China , Malaysia , Turkey , Indonesia, Korea and Vietnam
        </p>
      </div>
      <div class="col-md-6 col-12 ">
        <img src="assets/images/HomePage/11101066_798048373577087_510070657390289395_n.jpg" class="img-fluid text-center" alt="">
      </div>
      <div class="col-md-12 col-12 sm-mb-50">
        <div class="section-heading text-center mb-30 mt-20">
          <h1 class="heading">{{'We Are Specialized In' | translate}}</h1>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Burglar and Fire Resistant Safes
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Fire Resistant Filing Cabinets
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Vault Doors and Emergency Doors
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Safe Deposit Locker Boxes
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Mobile Shelving Units
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Electronic Hotel and Domestic Safes.
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="alert alert-dark" role="alert">
              Repair, relocation, servicing and maintenance
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






